<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap v5.1 -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.bundle.min.js"></script>

    
    <title>Menú Escolar</title>
</head>

<body>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            
            <p>{{#if school}} Hola {{school.name}} {{else}} Hola Admin {{/if}}</p>
            
            <form action="/logout">
            <button type="submit" class="btn btn-secondary mx-3">Logout</button>
            </form> 
        </div>
    </nav>


    <main>

        {{{body}}}


    </main>



</body>

</html>